[Unit]
Description=Continuously Polls For Universal State Status
After=network.target

[Timer]
OnBootSec=10
OnUnitActiveSec=10
AccuracySec=1ms

[Service]
ExecStart=/bin/bash -l -c 'su morphs -c "/usr/local/bin/mediaboxUniversalStatusPoller"'

[Install]
WantedBy=multi-user.target